#ifsc {
    width: 200px;
    height: 30px;
    font-size: 20px;
}
#result {
    font-size: 20px;
}
#main {
    padding-left: 500px;
}
#main1 {
    padding-left: 500px;
    padding-right: 450px;
}
#button {
    padding: 5px;
    margin-left: 5px;
    background-color: #ffffff;
    font-size: 15px;
}
.error {
    color: red;
}
